<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bai2</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>
    <script src='main.js'></script>
</head>
<body>
    <header>
        <div class="top">
            <div class="logo">logo</div>
            <div class="name"><center>web tin tuc</center></div>
        </div>
    </header>
    <main>
        <div class="menu">
            <a href="">trang chu</a>
            <a href="">tin hoc</a>
            <a href="">bieu mau</a>
            <a href="">khoa hoc</a>
            <a href="">tuyen dung</a>
            <a href="">lien he</a>
        </div>

        <div class="noidung">
            <div class="nd">
            <p>NHAP THONG TIN BAI VIET</p>
            <p>TIEU DE</p>
            <div class="tables">
                <ul>
                    <li></li>
                </ul>
            </div>
            <p>HINH ANH</p>
            <div class="tables">
                <ul>
                    <li></li>
                </ul>
            </div>
            <p>NOI DUNG</p>
            <div class="tabless">
                <ul>
                    <li></li>
                </ul>
            </div>
            <div class="bot1">LUU</div>
            <div class="bot2">XOA</div>
        </div>
        <div class="table">
            <p>bai viet moi nhat</p>
            <ul>
                <li>bai 1</li>
                <li>bai 2</li>
                <li>bai 3</li>
                <li>bai 4</li>
                <li>bai 5</li>
            </ul>
        </div>
    </div>
    </main>
    
</body>
</html>