<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bài 6</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    

    <!-- Cách 1:    Sử dụng cặp script và viết code javascript trong cặp thẻ -->
    <!-- <script>
        document.write('Bai 6: javascript Frontend 36');
    </script> -->

    <!-- Cách 2:     -->
    <script src="../js/script.js"></script>
</body>
</html>