* {
    margin: 0;
    padding: 0;

}

header{
    background-color: rgb(205, 65, 65);
    height: 150px;
}

footer{
    background-color: brown;
    height: 73px;
}

main {
    height: 530px;
    clear: both;
}

.left, .right {
    background-color: rgb(239, 142, 142);
    width: 25%;
    height: 100%;
    float: left;
}

.middle {
    background-color: rgb(119, 209, 238);
    width: 50%;
    height: 100%;
    float: left;
}