<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>HOME</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
</head>

<body>
    <header>
        <div class="container container_header">
            <div class="button-open-sidebar">
                <button type="button" class="btn-open-sidebar"><i class="fa-solid fa-bars"></i></button>
            </div>

            <div class="header_left">
                <a href="">
                    <img src="../image/images/logo.png" alt="">
                </a>
            </div>
            <div class="header_right">
                <div class="top">
                    <a href="">Đăng nhập</a>
                    <a href="">Đăng ký</a>
                    <div class="language">
                        <img src="../image/images/flag.png" alt=""> Việt Nam
                    </div>
                </div>
                <div class="bottom">
                    <a class="btn_register btn_register_store" href=""><i class="fa-solid fa-shop"></i> Đăng ký gian
                        hàng</a>
                    <a class="btn_register btn_register_visit" href=""><i class="fa-solid fa-users"></i> Đăng ký tham
                        quan</a>
                    <a class="btn_cart" href=""><i class="fa-solid fa-cart-shopping"></i>Giỏ hàng <span>0</span></a>
                </div>
                <div class="bottom-mobile">
                    <a><i class="fa-solid fa-shop"></i></a>
                    <a><i class="fa-solid fa-users"></i></a>
                    <a class="btn_cart" href=""><i class="fa-solid fa-cart-shopping"></i><span>0</span></a>
                </div>
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            <ul class="menu_main">
                <li>
                    <a class="active" href="">Trang chủ</a>
                </li>
                <li>
                    <a href="">Giới thiệu</a>
                </li>
                <li>
                    <a href="">Đơn vị trưng bày</a>
                </li>
                <li>
                    <a href="">Nhà nhập khẩu</a>
                </li>
                <li>
                    <a href="">Sản phẩm tiêu biểu</a>
                </li>
                <li>
                    <a href="">Sản phẩm OOP</a>
                </li>
                <li>
                    <a href="">Tin tức</a>
                </li>
                <li>
                    <a href="">Liên hệ</a>
                </li>
                <li>
                    <form id="form_search" method="get" action="/tim-kiem">
                        <input type="text" name="keyword" placeholder="Từ khóa">
                        <button type="submit" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="slider">
            <div class="slider_left">
                <div class="item_slider">
                    <img src="../image/images/images/slider-left.png" alt="" width="100%">
                </div>
                <div class="icon_video">
                    <i class="fa-regular fa-circle-play"></i>
                </div>
            </div>
            <div class="slider_right">
                <div class="item_slider">
                    <img src="../image/images/images/slider-right.png" alt="" width="100%">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <h3 class="title">Hãy tham gia Hanoi Gift Show</h3>
                <div class="desc">
                    Hanoi Gift Show mang tới cho bạn không gian trưng bày, khách hàng lớn nhất
                </div>

                <div class="list-product">

                    <div class="product">
                        <div class="info">
                            <a href="">
                                <img src="../image/images/pic-1.png" alt="">
                            </a>
                            <div class="desc_product">
                                <h2 class="product_name">
                                    <a href="">Giới thiệu về Hanoi Gift Show</a>
                                </h2>
                                <div>
                                    Hỗ trợ triển lãm lớn nhất Việt Nam! Hỗ trợ triển lãm tốt nhất
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product">
                        <div class="info">
                            <a href="">
                                <img src="../image/images/pic-2.png" alt="">
                            </a>
                            <div class="desc_product">
                                <h2 class="product_name">
                                    <a href="">Giới thiệu về Hanoi Gift Show</a>
                                </h2>
                                <div>
                                    Hỗ trợ triển lãm lớn nhất Việt Nam! Hỗ trợ triển lãm tốt nhất
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product">
                        <div class="info">
                            <a href="">
                                <img src="../image/images/pic-3.png" alt="">
                            </a>
                            <div class="desc_product">
                                <h2 class="product_name">
                                    <a href="">Giới thiệu về Hanoi Gift Show</a>
                                </h2>
                                <div>
                                    Hỗ trợ triển lãm lớn nhất Việt Nam! Hỗ trợ triển lãm tốt nhất
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product">
                        <div class="info">
                            <a href="">
                                <img src="../image/images/pic-4.png" alt="">
                            </a>
                            <div class="desc_product">
                                <h2 class="product_name">
                                    <a href="">Giới thiệu về Hanoi Gift Show</a>
                                </h2>
                                <div>
                                    Hỗ trợ triển lãm lớn nhất Việt Nam! Hỗ trợ triển lãm tốt nhất
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product">
                        <div class="info">
                            <a href="">
                                <img src="../image/images/pic-5.png" alt="">
                            </a>
                            <div class="desc_product">
                                <h2 class="product_name">
                                    <a href="">Giới thiệu về Hanoi Gift Show</a>
                                </h2>
                                <div>
                                    Hỗ trợ triển lãm lớn nhất Việt Nam! Hỗ trợ triển lãm tốt nhất
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product">
                        <div class="info">
                            <a href="">
                                <img src="../image/images/pic-6.png" alt="">
                            </a>
                            <div class="desc_product">
                                <h2 class="product_name">
                                    <a href="">Giới thiệu về Hanoi Gift Show</a>
                                </h2>
                                <div>
                                    Hỗ trợ triển lãm lớn nhất Việt Nam! Hỗ trợ triển lãm tốt nhất
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container">
                <h3 class="title">Tin tức và sự kiện</h3>
                <div class="desc">
                    Tin tức & sự kiện được cập nhật liên tục
                </div>

                <div class="list-product">

                    <div class="product">
                        <div class="info">
                            <a href="">
                                <img src="../image/images/pic-7.png" alt="">
                            </a>
                            <div class="desc_product">
                                <h2 class="product_name">
                                    <a href="">Giới thiệu về Hanoi Gift Show</a>
                                </h2>
                                <div>
                                    Hỗ trợ triển lãm lớn nhất Việt Nam! Hỗ trợ triển lãm tốt nhất
                                </div>
                                <a class="view_more" href="">
                                    Xem thêm
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="product">
                        <div class="info">
                            <a href="">
                                <img src="../image/images/pic-8.png" alt="">
                            </a>
                            <div class="desc_product">
                                <h2 class="product_name">
                                    <a href="">Giới thiệu về Hanoi Gift Show</a>
                                </h2>
                                <div>
                                    Hỗ trợ triển lãm lớn nhất Việt Nam! Hỗ trợ triển lãm tốt nhất
                                </div>
                                <a class="view_more" href="">
                                    Xem thêm
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="product">
                        <div class="info">
                            <a href="">
                                <img src="../image/images/pic-9.png" alt="">
                            </a>
                            <div class="desc_product">
                                <h2 class="product_name">
                                    <a href="">Giới thiệu về Hanoi Gift Show</a>
                                </h2>
                                <div>
                                    Hỗ trợ triển lãm lớn nhất Việt Nam! Hỗ trợ triển lãm tốt nhất
                                </div>
                                <a class="view_more" href="">
                                    Xem thêm
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="view_all"> 
                    <a href="">Xem tất cả</a>
                </div>
            </div>

            
        </div>
    </main>
    <footer>
        <div class="container container_footer">
            <div class="info_company">
                <h4>Ban tổ chức hội chợ</h4>
                <div class="company_name">Trung tâm Khuyến công và tư vấn PTCN(IDC)</div>
                <div class="address">
                    Địa chỉ: Số 176, Đường Quang Trung, Hà Đông, Hà Nội
                </div>
                <div class="phone">
                    Điện thoại: 0987654321
                </div>
                <div class="email">
                    Email: vinhdk@abc.com
                </div>
                <div class="fax">
                    Fax: +84 1234567890
                </div>
            </div>
            <div class="content_footer">
                <div class="menu_footer">
                    <div>Đơn vị trưng bày</div>
                    <ul>
                        <li>
                            <a href="">Lịch hội chợ</a>
                        </li>
                        <li>
                            <a href="">Lý do tham gia</a>
                        </li>
                        <li>
                            <a href="">Đăng ký tham gia</a>
                        </li>
                        <li>
                            <a href="">Sơ đồ hội chợ</a>
                        </li>
                    </ul>
                </div>

                <div class="menu_footer">
                    <div>Nhà nhập khẩu</div>
                    <ul>
                        <li>
                            <a href="">Lịch hội chợ</a>
                        </li>
                        <li>
                            <a href="">Lý do tham gia</a>
                        </li>
                        <li>
                            <a href="">Đăng ký tham gia</a>
                        </li>
                        <li>
                            <a href="">Sơ đồ hội chợ</a>
                        </li>
                    </ul>
                </div>

                <div class="google_map">
                    <div class="title_map">Địa điểm hội chợ</div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.8346095003712!2d105.77119811472484!3d21.03930269279468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b5534fb3bf%3A0x70d71b071349fa94!2sDevPro%20Education!5e0!3m2!1svi!2s!4v1662904346301!5m2!1svi!2s" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

        <div id="scroll_top">
            <a href="#top">
                <i class="fa-solid fa-chevron-up"></i>
            </a>
        </div>
    </footer>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
        $('.slider_left').slick({
            // hiển thị icon thứ tự lên ko
            // dots:false,

            infinite: true,
            speed: 1000,
            fade: true,
            cssEase: 'ease-in-out',

            // tự động chạy
            autoplay: true,

            // hiển thị nút previous / next hay không
            arrows:false
        });
    </script>
    <script src="../js/script.js"></script>
</body>

</html>